:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url(./py.jpg);
}

body {
  backdrop-filter: blur(5px) brightness(0.5);
}

.invert body {
  backdrop-filter: blur(5px) brightness(2);
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 15rem;
  line-height: 1.1;
  margin-block: 4rem;
  overflow-x: auto;
  overflow-y: none;
}

h1,
.subtitle {
  color: #535bf2;
  text-decoration: #ffe100 2px solid;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.subtitle {
  font-size: 7rem;
}

.invert {
  filter: invert();
}

.nasa-switch {
  font-size: 3rem;
}

.nasa-switch input {
  width: 3em;
  height: 3em;
}

textarea {
  color: #ffe100;
  background-color: rgb(37, 0, 139);
  width: 80vw;
  height: 4ch;
  font-size: 12rem;
}

.answer {
  background-color: #ffe100;
  color: darkblue;
  font-weight: bolder;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 5rem;
  overflow-x: auto;
  margin-block: 20vh;
  border: 10px hotpink solid;
  border-style: dashed double;
}

button {
  border-radius: 9px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 5rem;
  width: 90vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  background-color: #1a1a1a;
  color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
  background: #535bf2;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
